services:
  postgres:
    build:
      context: ../../../..
      dockerfile: postgres/Dockerfile
    image: portfoliomanager-postgres:16
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5439:5432'
